*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
   
}

body {
    background-color: #b0e57c;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: #fff;
     padding: 15px;
     width: 500px;
     border-radius: 10px;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.todo-app {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    justify-content: center;
}

.todo-app img {
    width: 50px;
    height: auto;
    padding: none;
    
}

.todo-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background: rgb(189, 188, 188);
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;

}

.todo-body input {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    
}

button {
   
    padding: 6px 18px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-color: #b0e57c;
    background-color: rgb(133, 163, 80);
    color: #fff;
    
}
ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 17px;
    padding: 12px 8px ;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    

}

ul li::before {
     content: '';
     height: 24px;
     width: 24px;
     border-radius: 50%;
     background-image: url(images/unchecked.png);
     background-size: cover;
     background-position: center;
     margin-right: 10px;
     
     
}

ul li.checked {
    color: #e00707;
    text-decoration: line-through;

}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}





